---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div
    class="flex border-b-2 border-black flex-col w-full mx-auto lg:max-w-[80%] py-10 gap-10 items-center"
  >
    <h2 class="font-serif text-4xl self-center text-center lg:text-start">My Developer Journey 👇</h2>

    <div
      class="grid grid-cols-4 px-4 justify-items-center items-center gap-y-10 gap-x-3 lg:gap-x-10"
    >
      <div class="text-xl font-serif font-bold justify-self-end col-span-1">2019</div>
     
        <div
          class="card col-span-3 p-2 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#90ee90] rounded-lg"
        >
          <h2 class="font-semibold">First Exposure to Programming</h2>
          <p>
            During my early semesters as an engineering student, I took
            Object-Oriented Programming I and II. These courses were taught in
            Java, where I learned the basics of the language, OOP concepts,
            testing, and took my first steps in graphical user interface
            development using Java Swing.
          </p>
        </div>
     
        <div
          class="card p-2 col-span-3 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#87ceeb] rounded-lg"
        >
          <h2 class="font-semibold">
            Applying Programming to Real-World Problems
          </h2>
          <p>
            During my undergraduate studies in Industrial Engineering, I took
            several courses related to statistics and data analysis, such as
            probabilistic models, experimental design, and simulation. In these
            courses, we studied statistical theory, but we also used R to build
            the models. In R, we worked with a package called Shiny, which
            allowed us to create small web apps to interact with the models. I
            found this fascinating because one of the biggest challenges I faced
            when building models was finding a user-friendly way to present them
            to someone without a technical or programming background.
          </p>
        </div>
      
      <div class="text-xl font-serif font-bold justify-self-start col-span-1">2020</div>
      <div class="text-xl font-serif font-bold justify-self-end col-span-1">2021</div>
        <div
          class="card p-2 col-span-3 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#ff7a5c] rounded-lg"
        >
          <h2 class="font-semibold">Leaning Python</h2>
          <p>
            As I was nearing graduation, I completed an internship at Mazda as a
            Data Analyst. After finishing the internship, I decided that I
            wanted to focus on programming. For this reason, I started learning
            Python on my own to prepare for the job market. To evaluate my
            learning, I chose to develop a machine learning model for my thesis,
            which predicted the score on a national exam based on the
            socioeconomic variables of the test-taker. The thesis was a success,
            earning a 4.5/5 final grade, and validating my knowledge in a new
            technology: Python.
          </p>
        </div>
      
        <div
          class="card p-2 col-span-3 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#a388ee] rounded-lg"
        >
          <h2 class="font-semibold">Intro to Web Development</h2>
          <p>
            Once I started working as an Operations Analyst at Close Up, I
            encountered a challenge similar to the one I faced in university:
            how to create appealing and secure interfaces to present my
            analyses, dashboards, and models. Because of this, I decided to
            learn web development with React. I already had some foundational
            knowledge of HTML and CSS because the Shiny package in R used them
            abstractly for its web apps, and I had also experimented with Dash
            and Streamlit in Python, which follow a similar principle.
            Additionally, my programming background helped me quickly adapt to
            JavaScript. I was able to apply everything I learned in my previous
            job, where I collaborated with another developer to complete
            projects like the ones showcased in this portfolio.
          </p>
        </div>
    
      <div class="text-xl font-serif font-bold justify-self-start col-span-1">2022</div>
      <div class="text-xl font-serif font-bold justify-self-end col-span-1">2023</div>
  
        <div
          class="card p-2 col-span-3 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#f4d738] rounded-lg"
        >
          <h2 class="font-semibold">Improving My Web Dev Skills</h2>
          <p>
            One of the projects I’m most proud of was a full-stack application
            with roles and login functionality that allowed admin users to
            assign Power BI dashboards to specific end users. This required not
            only handling authentication and authorization, but also learning
            how to work with the Power BI API to manage permissions and embed
            dashboards into a web page. The project was so successful that a
            couple of pharmaceutical labs contacted me to develop a similar
            application for their projects. While working at Close Up, and with
            their full authorization, I also secured some side jobs related to
            web development.
          </p>
        </div>
      
    
        <div
          class="card p-2 col-span-3 flex flex-col gap-1 border border-text-primary shadow-[4px_4px_0px_0px_rgba(40,40,37,1)] bg-[#90ee90] rounded-lg"
        >
          <h2 class="font-semibold">Moving To Germany</h2>
          <p>
            In June 2024, I decided to move to Germany to further my
            professional growth and settle down in a place where I can achieve
            all my career goals as a programmer.
          </p>
        </div>
      
      <div class="text-xl font-serif font-bold col-span-1 justify-self-start">2024</div>
    </div>
  </div>
</MainLayout>
