---
import ProjectCard from "../components/ProjectCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div
    class="border-b-2 border-black flex flex-col w-full mx-auto lg:max-w-3xl py-4 gap-4"
  >
    <h2 class="text-4xl self-center font-serif">My Work</h2>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 px-4">
      <ProjectCard
        title="Dashboard Sharing Platform"
        description="A web app with authentication and authorization that allows for user management and embedded Power BI dashboards through the Power BI API."
        imgUrl="/p1.png"
        url="https://cristian-velasquez.notion.site/Elevating-Data-Sharing-A-Secure-Portal-for-Power-BI-Reports-5f5c30961315489984d20a5248c4cf55"
        techs={["Express", "Prisma", "PostgreSQL", "Angular", "TypeScript"]}
      />
      <ProjectCard
        title="Geolocation Web App"
        description="A web app that allows pharmacy chains to identify the area they are located in and who they are being compared against in the market."
        imgUrl="/p2.png"
        url="https://cristian-velasquez.notion.site/Streamlining-Geolocation-A-Web-App-Case-Study-6e61ac2832194a48add78eb3927b049e"
        techs={["Laravel","PHP", "PostgreSQL"]}
      />
      <ProjectCard
        title="Products Control System"
        description="A web app that allows Key Account Managers to manage the products that need to be built by the production area for the following month. Roles include administrator, sales, and production."
        imgUrl="/p3.png"
        url="https://github.com/cristiancavelasquez/dashboard-comercial"
        techs={["NextJs", "React", "TypeScript", "Prisma", "PostgreSQL"]}
        showGit="true"
      />
      <ProjectCard
        title="Geolocation Zone Mapper"
        description="A Python project that automates the identification of geographical areas (UTCs) from coordinates, optimizing processes and improving efficiency."
        imgUrl="/p4.png"
        url="https://github.com/cristiancavelasquez/Maps_Automation"
        techs={["Python", "Selenium"]}
        showGit="true"
      />
    </div>
  </div>
</MainLayout>
