---

---

<nav>
  <div
    class="flex px-4 lg:px-0 justify-between w-full mx-auto lg:max-w-[80%] items-center py-4 font-serif"
  >
    <a href="/" class="flex gap-2 items-center">
      <img src="../public/logoCCVJ.png" alt="logo" class="max-h-8" />
      <p class="font-medium hidden lg:block">cristian-velasquez</p>
    </a>
    <ul class="flex items-center gap-10 lg:pr-5 font-medium">
      <li class="navbar__menu-item">
        <a href="/about" class="hover:font-semibold">About</a>
      </li>
      <li class="navbar__menu-item">
        <a href="/work" class="hover:font-semibold">My Work</a>
      </li>
    </ul>
  </div>
</nav>
